alfworld
beautifulsoup4==4.11.1
cleantext==1.1.4
Flask==2.1.2
gdown
gym==0.24.0
gymnasium==0.29.1
modelscope
numpy==1.26.4
openai
pandas==2.2.3
pyserini==0.17.0
PyYAML==6.0.2
rank_bm25==0.2.2
requests==2.27.1
rich==12.4.4
scikit-learn
spacy==3.7.2
stable-baselines3==2.6.0
thefuzz==0.19.0
tqdm==4.64.0
